AutoUpdate.Demo/Service References/ServiceReference/AutoUpdateService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CheckVersion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dllInfo" type="tns:DllInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DllInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Version" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FilePath" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FileName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TempName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ModifiedTime" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="tns:DllStatus" />
          <s:element minOccurs="0" maxOccurs="1" name="Bytes" type="s:base64Binary" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="DllStatus">
        <s:restriction base="s:string">
          <s:enumeration value="IsNewest" />
          <s:enumeration value="NeedUpdate" />
          <s:enumeration value="NoFile" />
        </s:restriction>
      </s:simpleType>
      <s:element name="CheckVersionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckVersionResult" type="tns:DllInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckVersions">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dllList" type="tns:ArrayOfDllInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDllInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DllInfo" nillable="true" type="tns:DllInfo" />
        </s:sequence>
      </s:complexType>
      <s:element name="CheckVersionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckVersionsResult" type="tns:ArrayOfDllInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Update">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dllInfo" type="tns:DllInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateResult" type="tns:DllInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dllList" type="tns:ArrayOfDllInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateListResult" type="tns:ArrayOfDllInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CheckVersionSoapIn">
    <wsdl:part name="parameters" element="tns:CheckVersion" />
  </wsdl:message>
  <wsdl:message name="CheckVersionSoapOut">
    <wsdl:part name="parameters" element="tns:CheckVersionResponse" />
  </wsdl:message>
  <wsdl:message name="CheckVersionsSoapIn">
    <wsdl:part name="parameters" element="tns:CheckVersions" />
  </wsdl:message>
  <wsdl:message name="CheckVersionsSoapOut">
    <wsdl:part name="parameters" element="tns:CheckVersionsResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapIn">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateListSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateList" />
  </wsdl:message>
  <wsdl:message name="UpdateListSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateListResponse" />
  </wsdl:message>
  <wsdl:portType name="AutoUpdateServiceSoap">
    <wsdl:operation name="CheckVersion">
      <wsdl:input message="tns:CheckVersionSoapIn" />
      <wsdl:output message="tns:CheckVersionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckVersions">
      <wsdl:input message="tns:CheckVersionsSoapIn" />
      <wsdl:output message="tns:CheckVersionsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input message="tns:UpdateSoapIn" />
      <wsdl:output message="tns:UpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateList">
      <wsdl:input message="tns:UpdateListSoapIn" />
      <wsdl:output message="tns:UpdateListSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AutoUpdateServiceSoap" type="tns:AutoUpdateServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckVersion">
      <soap:operation soapAction="http://tempuri.org/CheckVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckVersions">
      <soap:operation soapAction="http://tempuri.org/CheckVersions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateList">
      <soap:operation soapAction="http://tempuri.org/UpdateList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AutoUpdateServiceSoap12" type="tns:AutoUpdateServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckVersion">
      <soap12:operation soapAction="http://tempuri.org/CheckVersion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckVersions">
      <soap12:operation soapAction="http://tempuri.org/CheckVersions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap12:operation soapAction="http://tempuri.org/Update" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateList">
      <soap12:operation soapAction="http://tempuri.org/UpdateList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AutoUpdateService">
    <wsdl:port name="AutoUpdateServiceSoap" binding="tns:AutoUpdateServiceSoap">
      <soap:address location="http://localhost:18342/AutoUpdateService.asmx" />
    </wsdl:port>
    <wsdl:port name="AutoUpdateServiceSoap12" binding="tns:AutoUpdateServiceSoap12">
      <soap12:address location="http://localhost:18342/AutoUpdateService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>